body {
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-component {
  margin: auto;
  width: 80%;
  max-width: 28rem;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 3rem;
}

.illustration {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.order-head {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.order-summary {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.order-details {
  width: 80%;
  background-color: hsl(225, 100%, 98%);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.order-detail-title,
.order-detail-price {
  margin: 0;
  justify-self: flex-start;
  text-align: left;
  font-size: 16px;
}

.order-detail-title {
  font-weight: 700;
}

.order-detail-price {
  font-weight: 500;
}

.order-detail-change {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.order-confirm {
  border: none;
  padding: 1rem 5rem;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  box-shadow: 0 5px 10px hsl(224, 23%, 55%);
  margin-bottom: 1rem;
  cursor: pointer;
}

.order-cancel {
  text-decoration: none;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
}

footer {
  position: absolute;
  bottom: 1%;
}

.order-detail-change:active,
.order-detail-change:hover {
  text-decoration: none;
  font-weight: 500;
}

.order-confirm:active {
  filter: brightness(150%);
}

.order-cancel:active,
.order-cancel:hover {
  font-weight: 900;
}

@media (max-width: 450px) {
  .order-detail {
    width: 90%;
  }
  .order-confirm {
    padding: 1rem 2.5rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }
  body {
    background-image: url(images/pattern-background-mobile.svg);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
